html {
  display: flex;
  justify-content:center;
  background-color: #445723;
}

#buttons {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Black Ops One', cursive;
  color: #EBEEF3;
}

p {
  font-family: 'Black Ops One', cursive;
  color: #EBEEF3;
}

canvas {
  margin-top: 10px;
  background-color: white;
}

span {
  color: #F0190A;
}
